<h1>最受欢迎的签名</h1>
<ul>
  <% @signatures.all.each do |s| %>
    <li><%= s.id %>:<%= s.body %>----> <%= s.up  %></li>
  <% end %>
</ul>
<br />

<div id="op">
  <span><%= link_to "添加", new_signature_path, :remote => true %></span>
</div>

<!-- ui-dialog -->
<div id="dialog" title="添加签名">
  <p>添加签名</p>
</div>
