<% title "排行榜" %>
<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, signatures_path(:format => :rss)) %>
<% end %>
<h1>最受欢迎的语录</h1>
<ul>
  <% @signatures.all.each do |s| %>
    <div class="outer_box">
      <div class="block_top">
        <div class="block_title">
          <div class="block_titleleft"></div>
          <div class="block_titlecenter">推荐指数：<%= s.up  %></div>
          <div class="block_titleright"></div>
        </div>
        <div class="block_line"></div>
      </div>
      <div class="body_box">
        <span class="category_item">
          <%= s.body %>
        </span>
      </div>
    </div>
  <% end %>
</ul>





