<% title "随便看看" %>
<br />
<div id="signature-body" class="outer_box">
  <%= render :partial => "signature_body", :locals => {:signature => @signature} %>
</div>

<div id="op">
  <div class="inner">
    <span><%= link_to "下一个", signatures_random_path, :remote => true %></span>
    <span id="up"><%= link_to "喜欢", up_signature_path(@signature), :remote => true, :method => :post %></span>
    <span id="syn"><%= link_to "同步到广播", syn_signature_path(@signature), :remote => true, :method => :post %></span>
  </div>
</div>

<!-- ui-dialog -->
<div id="dialog" title="添加签名">
  <p>添加签名</p>
</div>



