<% title "随便看看" %>
<br />
<div id="signature-body" class="outer_box">
  <%= render :partial => "signature_body", :locals => {:signature => @signature} %>
</div>

<div id="op">
  <div class="inner">
    <%= link_to "<span>下一个</span>".html_safe, signatures_random_path, :remote => true %>
    <%= link_to "<span>喜欢</span>".html_safe, up_signature_path(@signature), :remote => true, :method => :post, :id => "up-link" %>
    <%= link_to "<span>同步到广播</span>".html_safe, syn_signature_path(@signature), :remote => true, :method => :post, :id => "syn-link" %>
  </div>
</div>