<%= javascript_include_tag "demo" %>
<br />

<div id="signature-body"><%=  @signature.id %>.<%= @signature.body %></div>
<div id="op"> <%= link_to "刷新", "#", :remote => true %></div>




<p><a href="#" id="dialog_link" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span>Open Dialog</a></p>

<!-- ui-dialog -->
<div id="dialog" title="Dialog Title">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

    

