nbproject/*/*
nbproject/*
*.rbc
*.sassc
*.swo
*.swp
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/test/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
config/*.yml
rerun.txt
Gemfile.lock
config/database.yml
db/schema.rb
