body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400;}
li{list-style:none;}
caption,th{text-align:left;}
body{font-family:"Lucida Grande",Arial,Helvetica,Verdana,sans-serif;line-height:1.5em;font-size:12px;margin:0;}
a:hover{text-decoration:none;background-color:#3a81c0;color:#fff;}
div.clearfix{clear:both;margin:0;padding:0;}
h2{color:#c51716;font-size:18px;margin:0 0 10px;}
h3{color:#c51716;font-size:16px;height:22px;line-height:22px;font-weight:400;margin:5px 0 10px;}
h4{margin:5px 0;}


#logo{float:left;width:154px;height:53px;overflow:hidden;margin-top:11px;margin:0;}
#logo a{ display:block;}#logo a:hover{background-position:0 -33px; }

div#header{height:50px;border-bottom:8px solid #2d6ea8;background-color:#3a81c0;width:100%;position:relative;top:0;margin-bottom:30px;}
#header a {color: #FFF;text-decoration:none;}
#navigation a{color:#FFF;text-decoration:none;}
#navigation a:hover{text-decoration:underline;background-color:transparent;}

.no-login{float:left;color:#fff;}
.no-login{margin-top:2px;}

div#quick-search{float:right;margin-top:14px;}
#quick-search form{display:inline;float:left;margin-right:18px;}

div#quick-search form div{border:1px solid #26649b;background:#2d6ea8;width:140px;height:20px;}
div#quick-search input.q{background:none repeat scroll 0 0 transparent;border:medium none;color:#FFF;height:18px;width:106px;padding:2px 5px 1px;}div#player{background:#efefef;margin-bottom:10px;width:100%;height:180px;padding:0;}div#player div.container{width:960px;margin:0 auto;padding:20px 0;}div#player div.first-column{width:140px;float:left;margin-right:10px;display:inline;}div#player img.cover{background-color:#fff;display:block;width:128px;_width:123px;height:128px;_height:123px;}


div#header div.container{width:960px;zoom:1;margin:0 auto;}

/* 导航 */
#navigation {
    display: inline;
    float: left;
    font-size: 14px;
    margin: 16px 0 0 28px;
}

#navigation ul {
    float: left;
}

#navigation li {
    display: inline;
    float: left;
    margin-right: 10px;
    white-space: nowrap;
    padding-left: 10px;
}

#navigation li a {
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 2px 10px 0 0;
    height: 32px;
    line-height: 32px;
    float: left;
}

#navigation li.current,#navigation li.current a {
    background: url(/images/navigation-current.png) no-repeat;
}

#navigation li.current {
    background-position: 0 0;
}

#navigation li.current a {
    background-position: 100% -53px;
}

#navigation li.current a:hover {
    text-decoration: none;
}

/* 主体内容 */
div#context{
    margin-top:16pt;
    margin-left:200px;
    margin-right:auto;

}

/* 单条语录外围DIV */
.outer_box{
    width:680px;
    height:auto;
    margin-bottom:10px;
}
.block_top{
    height:42px;
    overflow:hidden
}
.block_top .block_line{
    border-right:solid 1px #d8d8d8;
    height:37px;
    margin-top:5px;
    float:left
}
.block_top .block_title{
    background:url(/images/titlebg_28.png) no-repeat;
    width:678px;
    height:42px;
    padding-left:1px;
    overflow:hidden;
    float:left
}
.block_top .block_title .block_right_link {
    float:right;
    height:38px;
    line-height:38px;
    padding-right:5px
}
.block_top .block_title .block_right_link a {
    color:#825C23
}
.block_top .block_titleleft{ width:27px;
    height:42px;
    float:left
}

.outer_box .block_titleleft{
    background:url(/images/titlebg_green.png) no-repeat scroll 0px 0px
}

.block_top .block_titlecenter{
    height:42px;
    float:left;
    font-size:14px;
    line-height:35px;
    font-weight:bold;
    color:#fff
}

.outer_box .block_titlecenter{
    background:url(/images/titlebg_green_65.png) repeat-x
}

.block_top .block_titleright{
    width:27px;
    height:42px;
    float:left
}

.outer_box .block_titleright{
    background:url(/images/titlebg_green.png) no-repeat scroll right 0px
}

.body_box{
    height:auto;
    padding:10px;
    border-style:solid;
    border-width:0px 1px 1px;
    border-color:#d8d8d8;
    overflow:hidden
}

h1 {
    line-height:28px;
    margin-bottom:10px;
}


/* 按钮栏 */ 
#op {width: 680px; background:#EEEEEE; border:1px solid #BDBDBD;}
#op .inner {padding: 10px;}
#op .inner span{ border:1px solid #2D6EA8; padding:6px; background:#74A4CF; margin-right:4px; -moz-border-radius: 5px 5px 5px 5px;} 
#op a { color: #FFF; text-decoration:none;}     
#op a:hover { font-weight: bold; background: #74A4CF;}

/* 二级tab */
.tabs {
    position: relative;
    height: 2.6em;
    margin-bottom:20px;
    overflow: hidden;
}

.tabs ul {            
    width:680px;
    position: absolute;
    margin: 0;
    bottom: 0;
    padding: 0em;
    padding-left:50px;
    border-bottom: 1px solid #3A81C0;
}

.tabs li { 
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin-right: 8px;
}  

.tabs li a{ 
    display: block;
    padding: 4px 6px;
    color: #2D6EA8;
    text-decoration: none;
    border-color: #3A81C0;
    border-style: solid;
    border-width: 1px;
    border-bottom: none;
    background: #CFE0FF;
}

/* highlight for current user mine item */
.tabs li.selected a{ background :#4D95CF; color: #FFF; }  

/* over-define jquery-ui dialog theme */
.ui-dialog-titlebar { background: #4D95CF; border: none;}   


/* top buttons bar */
#top_op {float: right;margin: 16px 30px 0 28px;} 
#top_op a {
    height: 28px;
    padding: 5px 5px 0px 5px;
    border: 1px solid #2D6EA8;
    background: #1D629F;
    float:left;display: block;
    border-bottom: none;
    -moz-border-radius: 5px 5px 0px 0px;
} 
#top_op a:hover{ text-decoration:underline;}
/* footer */
div#footer {
    margin-bottom: 10px;
    margin-top: 40px;
    overflow: auto;
}

div.wrapper-960, .public-container, div#header div.container {
    margin: 0px auto;
    width: 960px;
    zoom: 1;
}
/* 分页 */
div.pagination {
    padding: 3px;
    margin: 3px;
}

div.pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #AAAADD;

    text-decoration: none; /* no underline */
    color: #000099;
}
div.pagination a:hover, div.pagination a:active {
    border: 1px solid #000099;

    color: #000;
}
div.pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #000099;

    font-weight: bold;
    background-color: #000099;
    color: #FFF;
}
div.pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #EEE;

    color: #DDD;
}

.digg_pagination {
    background: white;
    margin-bottom:6px;
/* self-clearing method: */ }
.digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
.digg_pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
.digg_pagination em {
    font-weight: bold;
    background: #2E6AB1;
    color: white;
    border: 1px solid #2E6AB1; }
.digg_pagination a {
    text-decoration: none;
    color: #105CB6;
    border: 1px solid #9AAFE5; }
.digg_pagination a:hover, .digg_pagination a:focus {
    color: #003;
    border-color: #003; }
.digg_pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
.digg_pagination .page_info b {
    color: #003;
    background: #6aa6ed;
    padding: .1em .25em; }
.digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
* html .digg_pagination {
    height: 1%; }
*:first-child+html .digg_pagination {
    overflow: hidden; }
/* avatar */
div.avatar_item {
    text-align: center;
    float:left;
    width:65px;
    margin-right:8px;
}

.category_item {
    font-size: 14px;
    line-height: 1.3em;
    margin: 5px 0;
    word-wrap: break-word;
}

.category_item a{
    color: #105CB6;
    text-decoration: none;
}


