<h1>我添加的语录</h1>
<% if @signatures.present?  %>
  <ul>
    <% @signatures.each do |signature| %>
      <li>
        <%= signature.id %>.<%= signature.body %>
      </li>
    <% end %>
  </ul>
<% end %>