<% title "我的语录" %>
<h1>我添加的语录</h1>

<%= paginated_section(@signatures, :class => "digg_pagination") do %>
  <%= render :partial => "signature", :collection => @signatures, :as => :signature %>
<% end %>